@model IEnumerable<InsuranceApp.DTOs.PartnerDTO>

<table>
    <thead>
        <tr>
            <th>PartnerId</th>
            <th>Full Name</th>
            <th>Partner Number</th>
            <th>Gender</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partner in Model)
        {
            <tr>
                <td>@partner.PartnerId</td> 
                <td>@partner.FullName</td>
                <td>@partner.PartnerNumber</td>
                <td>@partner.Gender</td>
                <td>@partner.CreatedAtUtc</td>
            </tr>
        }
    </tbody>
</table>


